@import '~shared/css/helpers/variables';

.base {
  display: flex;
  width: 500px;
  height: 500px;
  background: $dark-to-light-10;
  position: absolute;
  top: 100px;
  left: 100px;
}

.right {
  composes: base;
  right: 100px;
}