@import '~shared/css/helpers/variables';
@import '~shared/css/helpers/mixins';

.root {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 81px);
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}