.auth-inner-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.auth-inner {
  flex-flow: row nowrap;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba($black,0.5);
  width: 400px;
  background-color: $dark-to-light-11;

  hr {
    border: none;
    height: 1px;
    background: $dark-to-light-9;
    margin: 0 48px;
  }

}

.auth-branding-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;

  .BIQ-logo-text {

    path {
      fill: $dark-to-light-3;
    }

  }

}

.auth-logo {
  margin-top: 8px;
}

.auth-scenes {
  box-sizing: border-box;
  padding: 24px 48px 48px 48px;
}



