.auth-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-blue;
  z-index: -1;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .blue-green {
    background-image: linear-gradient(to top, $main-blue, $main-green);
    animation: fadeInOut 25s ease forwards infinite;
  }

  .red-yellow {
    background-image: linear-gradient(to top, $main-red, $main-yellow);
    animation: fadeOutIn 25s ease forwards infinite ;
  }

}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}