@import '~shared/css/helpers/variables';
@import '~shared/css/helpers/mixins';

.scene {
  composes: scene from "../../components/SceneLayout/sceneLayout.scss";

  &:global(.auth-scene-enter) {
    transform: translate(-10%,-50%) translateZ(0);

    &:global(.auth-scene-enter-active) {
      transform: translate(-50%,-50%) translateZ(0);
    }

  }

  &:global(.auth-scene-leave) {
    transform: translate(-50%,-50%) translateZ(0);

    &:global(.auth-scene-leave-active) {
      transform: translate(-10%,-50%) translateZ(0);
    }

  }

}