// NORMALIZE
@import "~normalize.css";

// HELPERS
@import "shared/css/helpers/variables";

body,
input,
select,
button,
textarea {
  font-family: $sofia-font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'liga' 1;
  font-style: normal;
}

body {
  overflow: hidden;
  user-select: none;
  background: transparent;
  font-size: 16px;
  line-height: 1em;
  background: $dark-to-light-1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}